body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    border-collapse: collapse;
    border: 1px solid#333;
    margin: 10px auto;
}
caption{
    caption-side: bottom;
}
tbody tr:nth-child(2) {
    background-color: rgb(179, 186, 199,0.2);
}
.acme, .extra{
    background-color: black;
    color: antiquewhite;
    border: none;
    padding: 8px;
}
th,td {
    border: 1px solid#335;
    padding: 8px;
    text-align: center;
}
th{
    color: beige;
    background-color: #333;
}
