@media only screen and (min-width: 35rem){
    .medium-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .menu{
        right: 40px;
        top: 50px;
    }
    .menu-line{
        height: 8px;
        width: 40px;
    }
    .hero-text{
        font-family: 'Russo One', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        position: absolute;
        z-index: 1;
        align-items: center;
        justify-content: space-around;
        font-size: 30px;
            left: 50%;
            top: 15%;
            width: 50%;
            bottom: 10%;
        
        }
        .area-info{
            grid-column: 1/2;
            grid-row: 1/4;
        }
        .weather{
            grid-column:2/3 ;
            grid-row:1/2;
        }
        .fruits-gallery{
            grid-column: 2/3;
        }
        .drinks-container{
            grid-column: 1/2;
        }
}