@media only screen and (min-width: 35rem){
    #home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #about{
        display: grid;
        grid-template-columns: 1fr;
    }
    .history{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .history img{
        width: 50%;
        float: right;
    }
    .locate{
        grid-row: 2/3;
        grid-column: 1/2;
        margin-left: 21%;
        margin: 10%;
    }
    .about-form{
        grid-row: 3/4;
    }
    .menu{
        right: 40px;
        top: 50px;
    }
    .menu-line{
        height: 8px;
        width: 40px;
    }
    .hero{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #fresh, .about-form{
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-text{
        font-family: 'Russo One', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        position: absolute;
        z-index: 1;
        align-items: center;
        justify-content: space-around;
        font-size: 30px;
            left: 50%;
            top: 20%;
            width: 50%;
            bottom: 10%;
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .area-info{
            grid-column: 1/2;
            grid-row: 2/4;
        }
        .weather{
            grid-column:2/3 ;
            grid-row:2/3;
        }
        .fruits-gallery{
            grid-column: 2/3;
            grid-row: 3/4;
            height: 100%;
        }
        .drinks-container{
            display: flex;
            align-self: center;
            justify-self: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            grid-column: 2/3;
        }
        .contact{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        form input.submitBtn{
        text-align: center;
    }
    form label{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .sandiego{
        width: 80%;
        margin-bottom: 20px;
    }



}