@media only screen and (max-width: 64em){
    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .VisualH{
        grid-column: 1/2;
    }
    .Align{
        grid-column: 2/3;
    }
    .Prox{
        grid-column: 1/3;
    }
    img{
        width: 50%;
    }
}