body{
    font-family: Comfortaa,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 0;
}
main{
    text-align: center;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 1.5rem;
    background-color: #FFECD1;
}
#logo_link{
    margin-right: auto;
}
.logo{
    width: 30%;
}
nav a{
    display: inline-block;
    padding: 40px;
    text-decoration: none;
    color: black;
    font-weight:bold;
}
nav a:hover{
    color: #FF7D00;
}
h1,h2{
    font-family: "Nanum Gothic",sans-serif;
    text-shadow: 0 0 5px grey;
}
hr{
    border: 10px solid #001524;
}
.target, .personas, .scenarios{
    padding: 30px;
}
ul li {
    text-align:center; list-style-position:inside;
}
footer{
    background-color: #FFECD1;
    text-align: center;
    padding: 20px;
}